<!DOCTYPE html>
<html>
<head>
  <title>Rankit</title>
  <%= stylesheet_link_tag    "rankit/application", :media => "all" %>
  <%= javascript_include_tag "rankit/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
